screenSize (small, default=medium, big, huge, tv-sized, comical) = huge
isFullscreen (default=false, true) = true
fullscreenMode (default=windowed, exclusive) = windowed
displayFPS (default=false, true) = false
frameRateCap (1..160, default=60) = 160
language (de_DE, el_GR, default=en_US, es_ES, mi_PM, pt_BR, ru_RU, zh_CN) = pt_BR
levelDesigner (default=false, true) = false
heldItemFollowsMouse (false, default=true) = false
antiAliasing (false, default=true) = true
displayMoreInfo (default=false, exact, percentage) = false
