screenSize (small, default=medium, big, huge, tv-sized, comical) = small
isFullscreen (default=false, true) = false
fullscreenMode (default=windowed, exclusive) = windowed
frameRateCap (1..144, default=60) = 144
language (de_DE, el_GR, default=en_US, es_ES, mi_PM, pt_BR, ru_RU) = en_US
levelDesigner (default=false, true) = false